
@{
    ViewData["Title"] = "AllPosts";
}

<!-- Page content-->
<div class="container" style="margin-top: 25px">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="~/css/z/pics/f01.jpg" width="850" height="350" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">January 1, 2022</div>
                    <h2 class="card-title">締藏和牛燒肉</h2>
                    <p class="card-text">
                        締藏和牛燒肉，台中高級燒肉推薦，近台中捷運文心森林公園站的日式囲炉裏燒肉。締藏和牛燒肉，日式風格的用餐環境都是半包廂設計帶點隱密感，而且全程專人桌邊服務，你只需要負責吃，完全不需要動手烤肉~締藏和牛燒肉 食材部分以日本和牛:近江牛、宮崎牛，以及高檔活體海鮮為主打，不定時推出優惠活動，而且每個月都有當月壽星、當日壽星優惠~訂位前可先看官方粉絲頁公告

                        2021年11月優惠活動 : 打卡文章留言送陸介盛合~
                    </p>
                    <a class="btn btn-primary" href="~/BForum/Post">Read more →</a>
                </div>
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="~/css/z/pics/f02.jpg" width="700" height="350" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">古城麻辣燙</h2>
                            <p class="card-text">
                                每日湯頭堅持以數十種中藥加上花椒、辣椒現熬製成
                                雙眼注視，饞涎欲滴
                                細細品嚐，齒頰留香跟前幾年相較。
                            </p>
                            <a class="btn btn-primary" href="~/BForum/Post">Read more →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="~/css/z/pics/f03.jpg" width="700" height="350" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">伊卓島</h2>
                            <p class="card-text">
                                跟前幾年相較，中正大學前景觀也有蠻多變化，原本荒涼的都市計劃開發地或農地開始立起一棟棟出租的學生套房，也多了些餐飲店。


                            </p>
                            <a class="btn btn-primary" href="~/BForum/Post">Read more →</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="~/css/z/pics/f04.jpg" width="700" height="350" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">地中海美食</h2>
                            <p class="card-text">繽紛的西班牙下酒菜在燈光佐配下異國風情更盛、讓人心情隨之轉換。這裡是臺北的地中海，地中海的無國界小廚房。</p>
                            <a class="btn btn-primary" href="~/BForum/Post">Read more →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="~/css/z/pics/f05.jpg" width="700" height="350" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">柯家雞腿大王</h2>
                            <p class="card-text">
                                吃便當最重要的是什麼呢？？
                                當然不用多說，絕對不是飯、更不是配菜
                                而是主餐，主餐如果太小塊
                                就會顯的沒吸引力

                            </p>
                            <a class="btn btn-primary" href="~/BForum/Post">Read more →</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>

