
@{
    ViewData["Title"] = "Post";
}

@section CSS{
    <style>
        body {
            margin: 0;
            /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
            /*font-size: .88rem;*/
            line-height: 1.5;
            color: #495057;
            text-align: left;
            background-color: #eef1f3
        }

        .mt-25 {
            margin-top: 25px
        }

        .card {
            box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
            border-width: 0;
            transition: all .2s
        }

        .card-header:first-child {
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
        }

        .card-header {
            display: flex;
            align-items: center;
            border-bottom-width: 1px;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: .625rem;
            height: 3.5rem;
            background-color: #fff;
            border-bottom: 1px solid rgba(26, 54, 126, 0.125)
        }

        .card-body {
            flex: 1 1 auto;
            padding: 1.25rem
        }

        .flex-truncate {
            min-width: 0 !important
        }

        .d-block {
            display: block !important
        }

        a {
            color: #E91E63;
            text-decoration: none !important;
            background-color: transparent
        }

        .media img {
            width: 40px;
            height: auto
        }
    </style>
}

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on January 1, 2022 by Start Bootstrap</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="~/css/z/pics/f06.jpg" width="900" height="400" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">
                        米其林指南首度前進台中，星星會落入誰的手中，掀起一波話題！從今年入選亞洲50大餐廳、被封為台中最時髦餐廳的JL studio、到深耕fine dining市場、台灣首位法式女主廚所主理的鹽之華，還有以職人精神料理燒肉，被封為和牛控必朝聖的俺達の肉屋等，都被認為摘星有望的實力餐廳，再來還有經歷米其林餐廳歷練、打造時髦新台味的元Yuan、隱身巷弄老宅的創意料理滿堂等，都是台中老饕力推的必吃餐廳！從台菜到法菜、燒肉到創意料理，這10家料理路數精采、且極具水準的台中厲害餐廳，是從老饕口袋挖出來，一定要收起來、趕快訂起來！

                    </p>
                    <p class="fs-5 mb-4">
                        台中厲害餐廳推薦1：JL studio
                        從空間到餐點，JL studio 都時髦，絕對是台中話題餐廳首選！主廚林恬耀（Jimmy）致力於開展新加坡料理全新風貌，並大量採用台灣本地食材，他的精心巧思透過烹製的菜色為載體，藉以傳遞新加坡美食的文化與精髓，從街頭小食到回憶童時光的阿嬤拿手菜，都是 Jimmy 創作靈感來源。身為全台唯一「新加坡當代料理」餐廳，JL Studio 今年更榮獲「亞洲50大餐廳」第26 名的殊榮。

                        （24號最新！2020台中米其林二星）
                    </p>
                    <p class="fs-5 mb-4">
                        台中厲害餐廳推薦2：鹽之華法式餐廳
                        深耕台中fine dining市場多年的鹽之華法式餐廳，一直是中部名流的最愛！主廚黎俞君是台灣首位法式料理女廚師，她堅信每個食材都有其「最佳賞味期」，將來自世界各地當令好的食材、亞洲特色的蔬食及風味與法國傳統幾近失傳的宮廷菜結合，對法式料理更充滿了狂熱的她更說： 「如果你喜愛法國，你一定會愛吃我的菜」。除了料理細膩，空間奢美，一展fine dining的大器。

                        （24號最新！2020台中米其林一星）
                    </p>
                    @*<h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>*@
                    <p class="fs-5 mb-4">
                        台中厲害餐廳推薦3：Forchetta
                        Forchetta在義大利文中是「叉子」的意思，餐廳中文名以音譯，取為好記又有個性的「火氣大」。餐廳主廚Max致力將台灣食材與地中海料理手法巧妙結合，以無菜單創意料理呈現，嚴選「當季食材」客製化餐點，從味蕾的體驗到擺盤皆美，是值得一品的究極饗宴。

                        （24號最新！2020台中米其林一星）
                    </p>
                    <p class="fs-5 mb-4">
                        台中厲害餐廳推薦4：俺達の肉屋 日本和牛專門店
                        俺達の肉屋完全是肉控的天堂，是以日本職人精神來料理頂級和牛的超強燒肉店。尤其是和牛綜合拼盤，是極品中的極品！這是業者每個月買進一整牛，除了鑽石級部位之外，再搭配師傅精選的四種肉品，由師傅精選每日特殊部位，組合而成！讓每回饕客來，都有全新感受。

                        （24號最新！2020台中米其林一星）
                    </p>
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                        <!-- Comment with nested comments-->
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Zona</div>
                                If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                <!-- Child comment 1-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Mike</div>
                                        And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                    </div>
                                </div>
                                <!-- Child comment 2-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Peter</div>
                                        When you put money directly to a problem, it makes a good headline.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single comment-->
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Josh</div>
                                When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>