@{
    ViewData["Title"] = "Intro";
}

@section CSS{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Square+Peg&display=swap" rel="stylesheet">
    <link href="~/css/z/IndexSS.css" rel="stylesheet" />
    <link href="~/css/z/animation.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/css/z/new.css" rel="stylesheet" />
    <style>
        html {
            scroll-padding-top: 3.5rem;
        }

        header {
            padding-top: 9.5rem;
            padding-bottom: 6rem;
        }

        section {
            padding-top: 9rem;
            padding-bottom: 9rem;
        }
    </style>
}

<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to Scrolling Nav</h1>
        <p class="lead">A functional Bootstrap 5 boilerplate for one page scrolling websites</p>
        <a class="btn btn-lg btn-light" href="#about">Start scrolling!</a>
    </div>
</header>
<!-- Header Animation by Zona-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            @*====================================animation==========================================*@
            <div class="animation">
                <div class="logo">
                    <svg width="77" height="98" viewBox="0 0 77 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M61.5417 72.7644C61.2025 72.4855 60.8275 72.2496 60.4309 72.0486C61.4093 72.3077 62.0894 72.713 62.5627 73.1797C63.3755 73.9812 64 75.3797 64 77.854C64 80.6599 63.1686 82.3576 61.863 83.4282L61.8535 83.436L61.8439 83.444C61.3553 83.8528 60.2187 84.3833 58.018 84.7773C55.8976 85.1569 53.0765 85.3623 49.5094 85.3638L28.2656 84.7084C28.3222 80.6115 28.3506 76.5566 28.3506 72.5439C28.3506 67.2254 28.2971 62.6813 28.1894 58.9168C37.6609 58.5824 46.3826 57.6387 54.347 56.0763L56.3657 55.6803V53.623V48.7402V45.2263L53.046 46.3784C46.944 48.4962 38.6511 49.8938 28.0808 50.5054C27.9549 43.4744 27.3651 32.2746 26.3195 16.9497L49.5238 15.4061L49.2304 26.4571L49.1622 29.0234H51.7295H54.7202H57.365L57.2163 26.3828C56.9051 20.8601 57.4268 14.3549 58.8259 6.8394L59.5025 3.20547L55.8779 3.93038L42.145 6.67697C31.322 8.84156 18.9915 10.1528 5.14057 10.597L2.7207 10.6746V13.0957V16.2695V18.9886L5.43024 18.7607L9.86114 18.388C12.5456 28.8518 14.5467 38.5808 15.8698 47.5781L15.8714 47.5883C17.2507 56.7073 18.5639 69.1886 19.807 85.0563L15.3011 85.3698L12.9746 85.5316V87.8638V91.0986V94.1092L15.9339 93.5561C20.2403 92.7512 23.4382 92.3779 25.6064 92.3779C28.8341 92.3779 33.1918 92.71 38.7173 93.3954C44.2399 94.1209 47.9935 94.5142 49.7764 94.5142C53.4029 94.5142 56.3619 94.3118 58.5627 93.8563C61.0239 93.3895 63.3461 92.1573 65.5274 90.3416C67.8009 88.4832 69.7366 86.0715 71.363 83.1716C73.0487 80.198 74.0049 77.2507 74.0049 74.375C74.0049 70.8384 72.6681 67.8745 69.8567 65.8791C67.2533 63.9622 63.8866 63.147 60.0303 63.147C57.3862 63.147 54.8902 64.8712 52.6473 67.1141L52.6389 67.1225L52.6305 67.131C50.2002 69.6081 48.7412 72.4411 48.7412 75.5957C48.7412 77.662 49.3965 79.5634 50.6373 81.2357L50.6525 81.2563L50.6682 81.2765C52.0533 83.0656 53.9483 84.1382 56.2461 84.1382C58.3856 84.1382 60.1712 83.1762 61.4288 81.4783L61.4417 81.4609L61.4543 81.4433C62.5941 79.8475 63.1406 78.0081 63.1406 76.0229C63.1406 74.6389 62.4706 73.5281 61.5417 72.7644Z" stroke="white" stroke-width="2" id="first" class="thePaths" />
                    </svg>
                    <svg width="47" height="72" viewBox="0 0 47 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M31.0034 26.6064C31.0034 30.9349 29.8165 35.976 27.3003 41.7707C22.9792 42.1659 19.855 42.356 17.8784 42.356C14.0718 42.356 10.5826 43.5345 7.47947 45.8376C4.39681 48.1149 2.5 51.0473 2.5 54.6216C2.5 57.9543 3.62192 60.8516 5.95936 63.0828L5.97023 63.0932L5.98123 63.1034C8.29568 65.2601 11.2111 66.2769 14.5215 66.2769C16.1788 66.2769 18.0456 65.6832 19.9829 64.8007C20.902 64.382 21.8882 63.874 22.9397 63.2804L22.886 66.8521L22.8479 69.3896H25.3857H27.8882H30.6376L30.3769 66.6526C30.3026 65.8727 30.2661 65.1177 30.2661 64.3872C30.2661 57.7873 32.6562 50.3216 37.7188 41.9367L37.7228 41.93L37.7268 41.9232C39.7988 38.4424 41.3759 35.3463 42.4205 32.6518C43.5831 29.7609 44.1211 26.4005 44.1211 22.6392C44.1211 17.2018 42.6401 12.4605 39.5542 8.57681C36.4502 4.62911 32.4406 2.5 27.644 2.5C21.9043 2.5 16.6637 5.44123 11.9385 10.6433C7.25171 15.8031 4.63623 21.1774 4.63623 26.7285C4.63623 29.7073 5.76886 32.2603 8.04283 34.1461L8.05691 34.1577L8.07115 34.1692C10.2374 35.9128 12.8443 36.7358 15.7422 36.7358C18.6209 36.7358 21.5948 35.2185 24.5461 32.9087L24.5549 32.9018L24.5637 32.8949C27.7396 30.3633 29.7168 27.2707 29.7168 23.6157C29.7168 21.1365 28.5545 19.121 26.4076 17.8805C24.4686 16.7602 21.8825 16.355 18.9771 16.355C17.7369 16.355 16.6065 16.7073 15.5948 17.305C15.9387 16.5027 16.3327 15.7801 16.7724 15.1331L16.7765 15.127L16.7807 15.1208C18.343 12.7921 20.9907 11.4062 25.3857 11.4062C26.2544 11.4062 26.914 11.6326 27.4674 12.0348C28.0474 12.4564 28.6528 13.177 29.2016 14.3735C30.3276 16.8288 31.0034 20.819 31.0034 26.6064ZM20.2579 49.5776C21.5393 49.3559 23.1025 49.1616 24.9559 48.9977L23.717 54.5194C21.0132 57.1281 19.0043 57.981 17.6343 57.981C16.933 57.981 16.4829 57.7649 16.0823 57.3009C15.6637 56.772 15.3735 56.0222 15.3735 54.8657C15.3735 53.8271 15.7409 52.7433 16.7006 51.5659C17.6033 50.467 18.7356 49.8167 20.219 49.5841L20.2385 49.581L20.2579 49.5776ZM14.563 29.0475C15.3503 29.4566 16.2268 29.6558 17.146 29.6558C17.3327 29.6558 17.5205 29.6484 17.7083 29.6328C17.1625 29.9228 16.6716 30.0269 16.2305 30.0269C15.6867 30.0269 15.2279 29.8504 14.7335 29.2785C14.6734 29.2037 14.6166 29.1268 14.563 29.0475Z" stroke="white" stroke-width="2" id="second" class="thePaths" />
                    </svg>
                    <svg style="margin-right:2rem" width="49" height="89" viewBox="0 0 49 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M42.5968 25.6823L45.2087 25.2046L44.5747 22.6262L43.6591 18.903L43.0381 16.3777L40.5393 17.0977C38.1922 17.774 36.1715 18.2833 34.4692 18.6324C33.0327 18.8962 30.7563 19.5082 27.6938 20.439C28.3909 15.2535 28.6954 10.5431 28.594 6.31746L28.5248 3.43244L25.6791 3.91224L15.181 5.68226L12.7559 6.09114L13.125 8.52263C13.797 12.9497 14.1343 17.5238 14.1343 22.2466C14.1343 23.0598 14.1238 23.8147 14.1034 24.5123L4.65471 26.7085L2.7207 27.158V29.1436V32.5005V35.8173L5.90922 34.9038L13.9027 32.6138C13.8615 33.2912 13.809 34.0711 13.7442 34.958C13.5221 37.9963 13.1678 42.1436 12.6801 47.4065L12.6793 47.4152C11.7477 57.8649 11.2656 64.4466 11.2656 66.9854C11.2656 72.3405 12.8345 76.9029 16.1602 80.4214L16.1661 80.4277L16.1721 80.4339C19.5289 83.9366 23.988 85.5986 29.2686 85.5986C33.3945 85.5986 36.7964 83.3727 39.4713 79.6832L39.4756 79.6773L39.4799 79.6713C42.1281 75.9729 43.4873 71.8876 43.4873 67.4736C43.4873 64.5502 41.5594 62.2689 39.0601 60.54C36.5304 58.762 33.8234 57.7715 30.9775 57.7715C28.5031 57.7715 26.2836 58.7695 24.3697 60.4809C22.4221 62.2179 21.2754 64.4109 21.2754 66.9854C21.2754 69.1985 22.3053 71.0222 24.0344 72.334L24.0726 72.3629L24.1118 72.3904C25.7045 73.5053 27.4791 74.124 29.3906 74.124C31.1272 74.124 32.5071 73.2337 33.512 72.0711C33.2414 73.8651 32.724 75.3224 32.0144 76.4911L32.0076 76.5023C31.0976 78.0191 29.9612 78.6455 28.353 78.6455C25.5828 78.6455 23.6696 77.6983 22.2847 75.9069C20.8704 74.0249 19.9888 71.0836 19.9888 66.7412C19.9888 63.4698 21.0227 56.8503 23.2283 46.6392L23.2287 46.6371C25.0494 38.1743 26.2182 32.1824 26.6838 28.7954C30.0062 27.8017 32.4667 27.2381 34.1274 27.0501L34.1475 27.0478L34.1676 27.0452C36.424 26.7527 39.2374 26.2969 42.5968 25.6823Z" stroke="white" stroke-width="2" id="third" class="thePaths" />
                    </svg>
                    <svg width="36" height="95" viewBox="0 0 36 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.9095 15.3224L29.5807 14.8772L28.9239 12.2501C28.2201 9.43504 26.8194 7.10505 24.5971 5.51375C22.4031 3.94273 19.6661 3.27637 16.6108 3.27637C13.5702 3.27637 10.932 4.74039 8.72853 7.13548C6.45338 9.60848 5.26074 12.5447 5.26074 15.8472C5.26074 19.0394 6.42665 21.8054 8.74198 23.9628C10.9852 26.0531 13.6862 27.1362 16.7329 27.1362C19.286 27.1362 21.6513 26.3854 23.7686 24.9235L23.7686 24.9235L23.7786 24.9165C26.0113 23.3588 27.4727 21.2022 27.4727 18.4717C27.4727 17.3278 27.2334 16.2774 26.7723 15.3453L26.9095 15.3224ZM30.8931 88.9038H33.3931V86.4038V82.9858V80.1434L30.5739 80.5063C27.3588 80.9201 23.9656 81.1688 20.3928 81.2499L21.7315 52.9137L22.8924 35.1131L26.6039 34.2058L28.5103 33.7398V31.7773V28.9697V25.5828L25.2736 26.5807C20.4761 28.0599 16.8705 28.728 14.3525 28.728C12.7522 28.728 9.86535 28.6878 5.67305 28.6064L3.12451 28.5569V31.106V33.3643V35.7758L5.53448 35.8626L10.1525 36.0291C11.734 50.655 12.5639 65.9263 12.6402 81.8441L7.19498 82.0129L4.77246 82.088V84.5117V87.8687V90.9611L7.79628 90.3132C9.42582 89.964 11.3711 89.6288 13.6403 89.3099C15.7891 89.0495 21.466 88.9038 30.8931 88.9038Z" stroke="white" stroke-width="2" id="fourth" class="thePaths" />
                    </svg>
                    <svg style="margin-right:2rem" width="72" height="76" viewBox="0 0 72 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.3911 18.2427L12.8998 17.4846C15.639 31.5379 17.0122 46.3481 17.0122 61.9199C17.0122 62.9948 17.0023 63.9906 16.9828 64.9081L11.4599 64.4929L9.2547 64.3271L8.82101 66.4955L8.27169 69.2421L7.71107 72.0452L10.5639 72.2273C14.4043 72.4725 17.397 72.5986 19.5122 72.5986C21.9086 72.5986 25.3511 72.0041 29.6903 70.9397L32.1675 70.3321L31.5103 67.8676L30.7779 65.121L30.1492 62.7635L27.7772 63.3346L24.5171 64.1194L26.639 35.5005C26.6485 35.4661 26.6631 35.4164 26.6845 35.3496C26.7617 35.1083 26.8913 34.7512 27.0856 34.2607C27.4718 33.2856 28.0642 31.9065 28.8726 30.1079L28.8726 30.1079L28.8768 30.0984C30.3765 26.7242 32.4082 23.8215 34.9732 21.3681L34.9738 21.3676C37.4336 19.0131 39.9698 17.9722 42.6445 17.9722C45.6184 17.9722 48.5207 19.5652 51.3239 23.6595L51.3299 23.6681C54.1524 27.7533 55.5254 32.0639 55.5254 36.6514C55.5254 46.3364 54.6793 53.5313 53.1159 58.4043C52.9584 56.5246 52.0321 54.928 50.3539 53.8891C48.7017 52.8663 46.5445 52.5229 44.2314 52.5229C41.7443 52.5229 39.4326 53.4466 37.3383 55.0538C35.1678 56.7196 33.7358 58.9113 33.7358 61.6147C33.7358 64.6217 35.2064 67.252 37.5753 69.4788L37.5843 69.4873L37.5934 69.4956C39.9839 71.6986 42.6768 73.0259 45.6353 73.0259C51.8993 73.0259 57.2742 68.6292 61.898 61.4414C66.6067 54.1215 69.0093 46.4147 69.0093 38.3604C69.0093 30.8286 66.3321 24.2352 61.0602 18.6958C55.8306 13.1602 49.7513 10.2256 42.8887 10.2256C36.2008 10.2256 30.8482 13.4332 26.7014 19.2309L27.258 8.27479L27.4714 4.07502L23.6799 5.8939C17.8617 8.68506 12.2847 10.3839 6.94065 11.0375L3.93053 11.4057L4.86608 14.2903L5.59851 16.5486L6.26395 18.6004L8.3911 18.2427ZM44.0489 65.2567C43.9942 65.1956 43.9373 65.121 43.8807 65.03C44.5687 65.2162 45.3003 65.2744 46.0015 65.2744C47.2096 65.2744 48.4214 65.1156 49.511 64.674C48.5205 65.4979 47.4228 65.8896 46.1235 65.8896C44.8347 65.8896 44.305 65.5426 44.0489 65.2567ZM26.6232 35.5618C26.6232 35.5618 26.6234 35.5607 26.6239 35.5583C26.6235 35.5606 26.6232 35.5618 26.6232 35.5618Z" stroke="white" stroke-width="2" id="fifth" class="thePaths" />
                    </svg>
                    <svg width="40" height="78" viewBox="0 0 40 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.036 60.4475L19.1294 62.4435L20.8013 60.0832C21.6761 58.8482 22.2988 57.4338 22.2988 55.8916C22.2988 53.9604 21.3108 52.4413 19.8444 51.4131C18.4827 50.4299 16.9045 49.9736 15.2212 49.9736C12.6071 49.9736 10.3603 51.2747 8.5048 53.2767C6.57494 55.3589 5.51904 57.823 5.51904 60.5913C5.51904 64.0503 6.62733 67.2634 8.74237 70.1775C10.9293 73.1906 13.8166 74.9932 17.3574 74.9932C19.7913 74.9932 21.8714 74.8176 23.3948 74.3359C25.0428 73.8538 26.9047 72.6214 28.8705 71.0253C31.0924 69.2635 32.9563 67.042 34.4771 64.403L34.4816 64.3952L34.4861 64.3873C36.1196 61.5047 36.8862 58.1746 36.8862 54.4878C36.8862 47.5699 32.266 41.085 24.3789 34.9923L24.3701 34.9855L24.3613 34.9788C17.6384 29.8799 14.4863 23.8603 14.4863 16.8291C14.4863 15.2551 15.0709 13.6864 16.4899 12.0694L16.4982 12.06L16.5063 12.0505C17.7976 10.549 19.2908 9.86865 21.1416 9.86865C22.3429 9.86865 23.4364 10.13 24.447 10.6872C23.9246 10.5913 23.3914 10.5449 22.8506 10.5449C21.2605 10.5449 19.6011 10.8846 18.3225 12.0009C16.9791 13.1737 16.5054 14.8025 16.5054 16.4019C16.5054 18.8181 17.3865 21.166 18.8784 23.4038L18.8851 23.414L18.892 23.4241C20.5482 25.8566 22.8605 27.3857 25.7803 27.3857C28.9829 27.3857 31.7252 25.9383 33.9404 23.4282C36.1483 20.9319 37.3745 18.0829 37.3745 14.937C37.3745 11.0037 35.5152 7.87863 32.1317 5.75044C28.9978 3.71395 25.3846 2.73242 21.3857 2.73242C16.1356 2.73242 11.6178 4.68745 7.97767 8.51427C4.44623 12.2268 2.52832 16.441 2.52832 21.1016C2.52832 23.5136 2.89295 25.9134 3.61156 28.2938L3.61778 28.3144L3.62434 28.3349C4.38892 30.7185 5.45678 32.8873 6.8392 34.8227L6.84751 34.8344L6.85596 34.8459C8.2801 36.7922 10.6705 39.034 13.8445 41.549C17.4574 44.4557 20.327 46.908 22.4702 48.913C24.6557 50.9575 25.9516 52.4144 26.5471 53.339L26.5605 53.3598L26.5743 53.3803C27.9837 55.4764 28.5293 57.2129 28.5293 58.6382C28.5293 60.3407 27.8708 62.0362 26.2626 63.7784C24.4739 65.7161 23.2651 66.1479 22.6064 66.1479C19.4468 66.1479 17.0336 65.3831 15.1927 64.0214C13.3208 62.6071 12.7776 61.4453 12.7214 60.566C12.7325 60.5433 12.747 60.5154 12.7655 60.4822C12.8889 60.2611 13.125 59.9243 13.5327 59.4638C13.9389 59.0271 14.2353 58.7831 14.4218 58.6605C14.8067 58.751 15.6552 59.1309 17.036 60.4475ZM28.8955 18.0498C28.8955 18.1732 28.8486 18.5148 28.4144 19.1189C28.2888 19.2806 28.1981 19.3598 28.1524 19.3941C27.615 19.3805 26.7538 19.2089 25.4951 18.7219C25.2485 18.6178 25.0696 18.5218 24.9442 18.4417C24.9233 18.4283 24.9043 18.4157 24.8872 18.4038C24.9766 17.9081 25.3361 17.0789 26.4178 15.877L26.4295 15.864L26.441 15.8509C26.7269 15.5241 27.1058 15.0685 27.345 14.5902L27.6993 13.8816C28.5155 15.1796 28.8955 16.5579 28.8955 18.0498ZM12.6879 60.6427C12.6879 60.6427 12.6884 60.6411 12.6896 60.6377C12.6886 60.641 12.688 60.6427 12.6879 60.6427ZM14.5463 58.5888C14.5462 58.5889 14.5434 58.5903 14.5378 58.5924C14.5435 58.5897 14.5463 58.5887 14.5463 58.5888Z" stroke="white" stroke-width="2" id="sixth" class="thePaths" />
                    </svg>
                    <svg width="49" height="89" viewBox="0 0 49 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M42.5968 25.6823L45.2087 25.2046L44.5747 22.6262L43.6591 18.903L43.0381 16.3777L40.5393 17.0977C38.1922 17.774 36.1715 18.2833 34.4692 18.6324C33.0327 18.8962 30.7563 19.5082 27.6938 20.439C28.3909 15.2535 28.6954 10.5431 28.594 6.31746L28.5248 3.43244L25.6791 3.91224L15.181 5.68226L12.7559 6.09114L13.125 8.52263C13.797 12.9497 14.1343 17.5238 14.1343 22.2466C14.1343 23.0598 14.1238 23.8147 14.1034 24.5123L4.65471 26.7085L2.7207 27.158V29.1436V32.5005V35.8173L5.90922 34.9038L13.9027 32.6138C13.8615 33.2912 13.809 34.0711 13.7442 34.958C13.5221 37.9963 13.1678 42.1436 12.6801 47.4065L12.6793 47.4152C11.7477 57.8649 11.2656 64.4466 11.2656 66.9854C11.2656 72.3405 12.8345 76.9029 16.1602 80.4214L16.1661 80.4277L16.1721 80.4339C19.5289 83.9366 23.988 85.5986 29.2686 85.5986C33.3945 85.5986 36.7964 83.3727 39.4713 79.6832L39.4756 79.6773L39.4799 79.6713C42.1281 75.9729 43.4873 71.8876 43.4873 67.4736C43.4873 64.5502 41.5594 62.2689 39.0601 60.54C36.5304 58.762 33.8234 57.7715 30.9775 57.7715C28.5031 57.7715 26.2836 58.7695 24.3697 60.4809C22.4221 62.2179 21.2754 64.4109 21.2754 66.9854C21.2754 69.1985 22.3053 71.0222 24.0344 72.334L24.0726 72.3629L24.1118 72.3904C25.7045 73.5053 27.4791 74.124 29.3906 74.124C31.1272 74.124 32.5071 73.2337 33.512 72.0711C33.2414 73.8651 32.724 75.3224 32.0144 76.4911L32.0076 76.5023C31.0976 78.0191 29.9612 78.6455 28.353 78.6455C25.5828 78.6455 23.6696 77.6983 22.2847 75.9069C20.8704 74.0249 19.9888 71.0836 19.9888 66.7412C19.9888 63.4698 21.0227 56.8503 23.2283 46.6392L23.2287 46.6371C25.0494 38.1743 26.2182 32.1824 26.6838 28.7954C30.0062 27.8017 32.4667 27.2381 34.1274 27.0501L34.1475 27.0478L34.1676 27.0452C36.424 26.7527 39.2374 26.2969 42.5968 25.6823Z" stroke="white" stroke-width="2" id="seventh" class="thePaths" />
                    </svg>
                    <svg width="65" height="97" viewBox="0 0 65 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M49.6445 11.9766C50.2713 11.9766 50.8019 12.0559 51.2573 12.2014L50.1787 12.7022C49.6415 12.9516 49.2271 13.0954 48.9202 13.1749C48.8808 12.9307 48.8531 12.6109 48.8491 12.2035C49.0023 12.0816 49.2202 11.9766 49.6445 11.9766ZM52.1872 19.9877C52.8198 19.4198 53.3757 18.7255 53.7224 17.9084C53.5444 19.2684 53.1868 20.8934 52.6193 22.8022L52.6161 22.8128L52.6131 22.8235C51.8225 25.5716 50.1546 29.5591 47.5277 34.8535C47.5275 34.8539 47.5273 34.8543 47.5271 34.8546L40.8901 48.2138L37.5852 36.5073L37.5842 36.504C35.8567 30.4166 34.0179 24.997 32.0633 20.2545C30.1386 15.445 28.003 11.462 25.623 8.3768L24.3908 6.77951L22.5692 7.64641C15.879 10.8303 10.6023 12.8137 6.68026 13.6895L4.10178 14.2653L4.81897 16.808L5.49036 19.1884L6.20825 21.7337L8.70918 20.874C11.5893 19.8839 13.8685 19.1392 15.5643 18.6306C21.8533 26.9921 28.4589 40.6657 35.3238 59.866C33.123 65.703 31.4994 70.3402 30.4668 73.7555L30.463 73.7683L30.4592 73.7812C29.9316 75.5962 29.2299 77.3968 28.3498 79.1834C28.0387 77.8209 27.3144 76.6198 26.2053 75.6493C24.8043 74.4234 23.1297 73.749 21.2632 73.749C17.9473 73.749 14.9245 74.6342 12.2817 76.445L12.2689 76.4538L12.2561 76.4628C9.59385 78.3362 7.89893 80.8534 7.89893 84.0005C7.89893 86.9595 9.4038 89.3699 11.8286 91.1885C14.3286 93.0635 17.4669 93.8857 21.019 93.8857C23.5718 93.8857 26.6531 92.6658 30.0456 90.7636C32.3566 89.4908 34.1737 87.1156 35.6605 84.142C37.1717 81.1196 38.4819 77.1948 39.6242 72.4383L39.6249 72.4355C40.6914 67.9719 42.1342 63.5631 43.9554 59.2082C45.7903 54.8202 48.7471 48.6203 52.8481 40.5808C56.946 32.5473 59.6018 26.7421 60.692 23.302C61.7927 19.913 62.3984 16.8725 62.3984 14.2373C62.3984 11.2489 61.1002 8.61135 58.8679 6.37534C56.6165 4.07904 53.9289 2.76514 50.8652 2.76514C48.3068 2.76514 46.1169 4.30657 44.3063 6.34041C42.392 8.44978 41.2241 10.8506 41.2241 13.5049C41.2241 15.4042 42.0689 17.156 43.2799 18.7061C44.5916 20.385 46.3659 21.6201 48.6069 21.6201C50.1087 21.6201 51.3233 20.7948 52.1872 19.9877ZM17.2351 81.3784C17.2992 81.3091 17.3719 81.2433 17.4534 81.1789C17.8335 80.9076 18.3396 80.6888 19.034 80.5848C18.9899 80.7525 18.901 80.8837 18.7532 81.0233C18.6193 81.1497 18.5065 81.2456 18.4147 81.3166C18.3833 81.3408 18.3555 81.3613 18.3312 81.3784H17.2351ZM20.0905 82.6566C20.0907 82.6564 20.0969 82.6568 20.1081 82.6586C20.0959 82.6577 20.0903 82.6568 20.0905 82.6566Z" stroke="white" stroke-width="2" id="eighth" class="thePaths" />
                    </svg>
                    <svg width="38" height="109" viewBox="0 0 38 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.3481 94.7485C22.6779 94.7485 23.8524 94.2817 24.7917 93.4479C24.323 94.438 23.659 95.2974 22.8066 96.0505C20.8955 97.7343 18.5866 98.5986 15.7329 98.5986C15.513 98.5986 14.7879 98.4614 13.6316 96.8584C12.5276 95.2292 12.1294 93.9112 12.1294 92.8589C12.1294 90.0238 13.1929 84.4126 15.5212 75.7522C17.8977 67.065 19.668 59.1473 20.8244 52.0044C21.9829 45.0515 23.7544 31.9211 26.1361 12.6579L29.7426 11.4987L31.4775 10.9411V9.11865V6.98242V3.63294L28.2664 4.58569C21.0894 6.71515 13.8011 7.77832 6.39453 7.77832H4.03727L3.89885 10.1315L3.77678 12.2067L3.61592 14.9412L6.35372 14.8522L11.2769 14.6921C11.2437 29.5606 10.9194 40.9756 10.3104 48.9678L10.3096 48.9796C9.70516 57.4414 8.67761 65.8838 7.22671 74.3071C5.75188 82.8693 4.99316 89.8244 4.99316 95.1172C4.99316 98.0088 6.09376 100.535 8.17776 102.572C10.0603 104.451 12.2624 105.735 14.7563 105.735C19.2772 105.735 23.706 104.039 28.0029 100.926L28.0096 100.921L28.0163 100.916C32.4895 97.6297 35.0176 93.4431 35.0176 88.4033C35.0176 85.6894 34.1124 83.2362 32.3668 81.1312C30.6051 79.0068 28.335 77.7246 25.6206 77.7246C22.7992 77.7246 20.2792 78.7592 18.145 80.6901C15.9767 82.6519 14.7588 85.1119 14.7588 87.9761C14.7588 89.7589 15.1837 91.5598 16.4751 92.9091C17.7861 94.2787 19.5711 94.7485 21.3481 94.7485ZM20.6265 86.9972C20.6146 86.9959 20.6091 86.9948 20.6094 86.9945C20.6096 86.9943 20.6156 86.995 20.6265 86.9972Z" stroke="white" stroke-width="2" id="ninth" class="thePaths" />

                    </svg>
                    <svg width="55" height="68" viewBox="0 0 55 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M33.8721 48.7211C33.8731 48.5871 33.8926 48.4621 33.9633 48.3283C33.9426 48.4579 33.9124 48.5886 33.8721 48.7211ZM33.6742 49.2099C33.6741 49.2099 33.6748 49.2089 33.6763 49.2069C33.6749 49.209 33.6742 49.2099 33.6742 49.2099ZM16.4646 32.108C17.2689 32.9069 18.2462 33.5944 19.3629 34.1697C22.5603 35.8168 26.8465 36.5225 31.9824 36.5225C37.5525 36.5225 42.3769 35.0779 46.2744 32.0279C50.2711 28.9329 52.3657 24.8205 52.3657 19.8623C52.3657 15.42 49.6922 11.5796 45.4149 8.30311C41.0689 4.90141 36.2454 3.14111 31.0059 3.14111C23.913 3.14111 17.4501 6.62189 11.6417 12.9895C5.77699 19.419 2.74902 26.6982 2.74902 34.7549C2.74902 43.2501 5.85554 50.5477 11.9911 56.5068L11.9978 56.5132C18.0244 62.323 24.7442 65.3921 32.1045 65.3921C36.2242 65.3921 40.0255 64.2259 43.4468 61.9159C47.1396 59.4514 49.1309 55.951 49.1309 51.6006C49.1309 48.1231 48.0496 45.0776 45.7611 42.68C43.4862 40.255 40.5844 39.0298 37.2314 39.0298C34.4585 39.0298 31.9785 39.8773 29.9662 41.6657C27.8288 43.522 26.8579 46.0701 26.8579 48.9761C26.8579 51.338 27.7564 53.4035 29.4832 55.0151L29.4981 55.0291L29.5132 55.0428C31.0339 56.4163 32.8268 57.3965 34.8511 57.3965C35.8271 57.3965 36.744 57.1505 37.5929 56.744C35.9077 57.7074 34.3091 58.1338 32.7759 58.1338C28.3115 58.1338 24.5093 56.2287 21.2599 52.0792C18.047 47.9248 16.355 42.5781 16.355 35.8535C16.355 34.5561 16.3918 33.3079 16.4646 32.108ZM20.6731 16.7098C20.6926 16.6783 20.7122 16.647 20.7319 16.6158L20.7319 16.6158L20.7367 16.6081C23.6218 11.9845 26.7731 10.1553 30.1514 10.1553C32.9625 10.1553 35.3283 11.2761 37.3776 13.7621C39.5615 16.4115 40.5298 19.0192 40.5298 21.6323C40.5298 24.3462 39.8097 26.2121 38.6201 27.515C37.4868 28.7563 35.8212 29.5083 33.2642 29.5083C31.932 29.5083 30.7023 29.4156 29.5694 29.2373C30.1614 28.8195 30.6804 28.3094 31.1267 27.7846C32.3883 26.3502 33.1396 24.6473 33.1396 22.731C33.1396 20.4202 31.7175 18.7635 29.9599 17.6868C28.2407 16.5689 26.3078 16.0195 24.231 16.0195C22.9874 16.0195 21.7996 16.2605 20.6731 16.7098ZM23.4424 23.6173L23.036 23.7298C23.1267 23.496 23.2371 23.2607 23.3681 23.0231L23.3767 23.0076L23.3851 22.9919C23.4932 22.7892 23.5889 22.6361 23.6689 22.5236C23.9193 22.5762 24.1093 22.6795 24.2784 22.8205L24.3108 22.8474L24.3441 22.8733C24.4133 22.9272 24.4271 22.9572 24.4326 22.9692L24.433 22.9699C24.4401 22.9853 24.466 23.0469 24.4747 23.1845C24.351 23.276 24.0525 23.4486 23.4424 23.6173Z" stroke="white" stroke-width="2" id="tenth" class="thePaths" />
                    </svg>
                </div>
            </div>
            <p class="lead fw-normal text-white-50 mb-0">Find your food with FineFood</p>
        </div>
    </div> 
</header>
<!-- About section-->

<section id="services" style="background-color:aquamarine">
    <h2 style="text-align:center">開發團隊</h2><br />

    <div class="main">
        <div class="profile-card">
            <div class="img">
                <img src="~/Images/new/1.jpg" height="150" />
            </div>
            <div class="caption">
                <h3>蠟筆小新</h3>
                <p>Azure</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="~/Images/new/5.jpg" height="150" />
            </div>
            <div class="caption">
                <h3>靜香</h3>
                <p>CSS</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="~/Images/new/2.jpg" height="150" />
            </div>
            <div class="caption">
                <h3>大雄</h3>
                <p>_Layout</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="~/Images/new/4.jpg" height="150" />
            </div>
            <div class="caption">
                <h3>小夫</h3>
                <p>Entity Framework</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="~/Images/new/3.jpg" height="150" />
            </div>
            <div class="caption">
                <h3>多拉A夢</h3>
                <p>MVC</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>About this page</h2>
                <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
                <ul>
                    <li>Clickable nav links that smooth scroll to page sections</li>
                    <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                    <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                    <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Services section-->
<section class="bg-light" id="services">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Services we offer</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
            </div>
        </div>
    </div>
</section>
<!-- Contact section-->
<section id="contact">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Contact us</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
            </div>
        </div>
    </div>
</section>